<div class="main-panel">
    <div class="content-wrapper" style="font-family: iransans;">
        <div class="row">
            <div class="col-sm-12">
                <div class="home-tab">

                    <div class="tab-content tab-content-basic">
                        <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">

                            <div class="row">
                                <div class="col-lg-12 d-flex flex-column">


                                    <div class="row flex-grow">
                                        <div class="col-12 grid-margin stretch-card">
                                            <div class="card card-rounded">
                                                <div class="card-body" style="direction: rtl;">
                                                    <div class="d-sm-flex justify-content-between align-items-start">
                                                        <div>
                                                            <h4 class="card-title card-title-dash">لیست کدهای تخفیف</h4>

                                                            <!-- <p class="card-subtitle card-subtitle-dash">You have 50+ new requests</p> -->
                                                        </div>

                                                    </div>
                                                    <div class="table-responsive  mt-1">
                                                        <p-table styleClass="p-datatable-gridlines" [value]="dataitems" [paginator]="true" [rows]="5" [tableStyle]="{ 'min-width': '50rem','font-family': 'iransans','text-align': 'right' }">
                                                            <ng-template pTemplate="header">
                                                                <tr style="text-align:center">
                                                                    <th colspan="4"> کد </th>
                                                                    <th colspan="4"> مقدار </th>
                                                                    <th colspan="4"> تاریخ انقضا </th>
                                                                    <th colspan="1"> عملیات </th>
                                                                </tr>
                                                            </ng-template>
                                                            <ng-template pTemplate="body" let-item>
                                                                <tr>
                                                                    <td colspan="4" style="text-align:center">{{ item.code}} </td>
                                                                    <td colspan="4" style="text-align:center">{{ item.amount|number}} تومان</td>
                                                                    <td colspan="4" style="text-align:center">{{ item.expireDate}} </td>

                                                                    <td colspan="1" style="text-align:center">
                                                                        <button class="btn btn-danger btn-sm  text-white mb-0 me-0" *ngIf="item.isDeleted==false" type="button" (click)="changeActive(item.id)">غیرفعال سازی</button>
                                                                        <button class="btn btn-success btn-sm  text-white mb-0 me-0" *ngIf="item.isDeleted==true" type="button" (click)="changeActive(item.id)">فعال سازی</button>

                                                                    </td>
                                                                </tr>
                                                            </ng-template>
                                                        </p-table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-12 grid-margin stretch-card" dir="rtl">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-sm-flex justify-content-between align-items-start">
                                                <div>
                                                    <h4 class="card-title card-title-dash">ثبت کد تخفیف جدید</h4>

                                                    <!-- <p class="card-subtitle card-subtitle-dash">You have 50+ new requests</p> -->
                                                </div>
                                                <div>
                                                </div>
                                            </div>
                                            <form class="forms-sample" [formGroup]="addCodeForm">
                                                <div class="row">
                                                    <div class="form-group col-4">
                                                        <label for="exampleInputUsername1">کد</label>
                                                        <input type="text" class="form-control" formControlName="code" name="ColorName" placeholder="کد">
                                                    </div>
                                                    <div class="form-group col-4">
                                                        <label for="exampleInputUsername1">مقدار به تومان</label>
                                                        <input type="number" class="form-control" formControlName="amount" name="ColorName" placeholder="مقدار به تومان">
                                                    </div>
                                                    <div class="form-group col-4">
                                                        <label for="exampleInputUsername1">تاریخ انقضا(به میلادی)</label>
                                                        <div class="content" [dir]="isPersian? 'rtl': 'lrt'">
                                                            <p-calendar dateFormat="dd/mm/yy" [(ngModel)]="date" formControlName="date" placeholder="انتخاب کنید" [showIcon]="true" inputId="icon"></p-calendar>
                                                        </div>

                                                    </div>
                                                </div>
                                                <button class="btn btn-primary btn-lg text-white mb-0 me-0" type="button" (click)="AddCode()">ثبت</button>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>




<swal #emptyField title="تمامی موارد باید پر شود" position="top-end" icon="error" [showConfirmButton]="false" [timer]="3000">
</swal>
<swal #successFire title="با موفقیت انجام شد" position="top-end" icon="success" [showConfirmButton]="false" [timer]="3000">
</swal>