<nav class="sidebar sidebar-offcanvas" id="sidebar" style="font-family: iransans;">
    <ul class="nav">
        <!-- <li class="nav-item">
            <a class="nav-link" href="index.html">
                <i class="menu-icon fa fa fa-dashboard"></i>
                <span class="menu-title">داشبورد</span>
            </a>
        </li> -->
        <li class="nav-item nav-category">مدیریت محصولات</li>
        <!-- <li class="nav-item">
            <a class="nav-link" [routerLink]="'login'">
                <i class="menu-icon fa fa-pencil"></i>
                <span class="menu-title">ثبت جدید</span>
            </a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'products'">
                <i class="menu-icon fa fa-list-ol"></i>
                <span class="menu-title">لیست محصولات</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'color'">
                <i class="menu-icon fa fa-delicious"></i>
                <span class="menu-title">مدیریت رنگ</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'size'">
                <i class="menu-icon fa fa-scissors"></i>
                <span class="menu-title">مدیریت سایز</span>
            </a>
        </li>
        <li class="nav-item nav-category">مرتبط با سفارشات</li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'orders'">
                <i class="menu-icon fa fa-taxi"></i>
                <span class="menu-title">سفارشات جهت ارسال</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'srorder'">
                <i class="menu-icon fa fa-list-alt"></i>
                <span class="menu-title">سفارشات دریافت حضوری</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'discountcode'">
                <i class="menu-icon fa fa-money"></i>
                <span class="menu-title">مدیریت کد های تخفیف</span>
            </a>
        </li>
        <li class="nav-item nav-category">مرتبط با مشتریان</li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'customers'">
                <i class="menu-icon fa fa-users"></i>
                <span class="menu-title">مشتریان</span>
            </a>
            <li class="nav-item nav-category">مرتبط با تنظیمات</li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'setting'">
                    <i class="menu-icon fa fa-phone"></i>
                    <span class="menu-title">اطلاعات فروشگاه</span>
                </a>
            </li>
       
 
          
    </ul>
</nav>